{% extends 'base.html' %}
{% block content %}
    <h3>Register Member</h3>
        <form action="/members" method="POST">
        <label for="first">First Name:</label><br>
        <input type="text" name="first" id="first"><br>
        <label for="last">Last Name:</label><br>
        <input type="text" name="last" id="last"><br><br>
        <label for="type">Membership Type:</label><br>
        <select name="type" id="type">
            <option value="premium">Premium</option>
            <option value="standard">Standard</option>
        </select><br><br>
        <button type="submit" class="submit">Register</button>
    </form>

{% endblock content %}