{% extends 'base.html' %}
{% block content %}
    <div>
        <p>Name: {{ member.first }} {{ member.last }}</p> 
            <p>Membership Type:
                {% if member.type == 'premium' %} Premium{% endif %} 
                {% if member.type == 'standard' %} Standard{% endif %}
            </p>
        <p>ID: {{ member.id }}</p>
        <p>Classes Booked:</p>
        {% for lesson in lessons %}
            <div>
                <a href="/lessons/show/{{ lesson. id }}">{{ lesson.description }}</a>
            </div>
        {% endfor %}
    </div>
{% endblock content %}