{% extends 'base.html' %}
{% block content %}
    <h3>All Bookings</h3>
    {% for booking in bookings %}
    <div class="nav-link">
        <a href="/bookings/show/{{ booking.id }}" style="text-align: left;"><p>Member Booked: {{ booking.member.first }}<br> Class Booked: {{ booking.lesson.description }}</p></a>
        <div>
            <a href="/bookings/cancel/{{ booking.id }}"><button class="delete">Cancel</button></a>
        </div>
    </div>
    {% endfor %}
    <a href="/bookings/new"><button class="submit">New Booking</button></a>
{% endblock content %}