{% extends 'base.html' %}
{% block content %}
    <h3>New Booking</h3>
    <div>
        <form action="/bookings" method="POST">
            <label for="member">Select a Member</label>
            <select name="member_id" id="member">
            {% for member in members %}
                <option value="{{ member.id }}">{{ member.first }} {{ member.last }}</option>
            {% endfor %}
            </select>
            <label for="lesson">Select a Class</label>
            <select name="lesson_id" id="lesson">
            {% for lesson in lessons %}
                <option value="{{ lesson.id }}">{{ lesson.description }}</option>
            {% endfor %}
            </select>
            <button type="submit">Book</button>
        </form>
    </div>
{% endblock content %}<h3>New Booking</h3>
