body {
    background-color: #333;
    color: white;
    text-align: center;
    font-family: 'Bebas Neue', cursive;
}

.header {
    display: flex;
}

.nav-link {
    margin: 1vw;
    display: flex;
    background-color:rgb(99, 87, 87);
    color: white;
    padding: 1vw;
    justify-content: space-between;
    align-items: baseline;
    box-shadow: 5px 5px 8px #6b6868;
}

.nav-link:hover {
    background-color: darkslategrey;
}

.new {
    margin-left: 1vw;
    background-color: mediumseagreen;
    color: white;
}

.new:hover {
    background-color: white;
    color: black;
}

a, a:visited {
    color: white;
    text-decoration: none;
}

button {
    font-family: 'Bebas Neue', cursive;
}

form > input {
    width: 60vw;
    height: 2.5vw;
    margin-top: 1vw;
    margin-bottom: 1vw;
    font-family: 'Bebas Neue', cursive;
    font-size: 2vw;
    color: darkslategrey;
    padding: .5vw;
    border-radius: 10px;
}

form {
    font-size: 2vw;
}

.container {
    margin: auto;
}

h3 {
    font-size: 3vw;
}

select {
    width: 60vw;
    height: 3vw;
    margin-top: 1vw;
    margin-bottom: 1vw;
    font-family: 'Bebas Neue', cursive;
    font-size: 1.5vw;
    color: darkslategrey;
    padding: .5vw;
    border-radius: 10px;
}

.submit {
    width: 40vw;
    height: 3vw;
    font-size: 1.5vw;
    background-color: mediumseagreen;
    color: white;
}

.submit:hover {
    background-color: white;
    color: black;
}

.delete {
    background-color: rgb(170, 28, 28);
    color: white;
    padding: 1vw;
}

.delete:hover {
    background-color: white;
    color: black;
}

.book {
    background-color: mediumseagreen;
    color: white;
    padding: 1vw;
}

.book:hover {
    background-color: white;
    color: black;
}

.edit {
    background-color: white;
    color: black;
    padding: 1vw;
}

.edit:hover {
    background-color: black;
    color: white;
}