body {
    background-color: #333;
    color: white;
    text-align: center;
    font-family: 'Bebas Neue', cursive;
}

.header {
    display: flex;
}

.nav-link {
    margin: 1vw;
    display: flex;
    background-color:rgb(99, 87, 87);
    color: white;
    padding: 1vw;
    justify-content: space-between;
    align-items: baseline;
}

.nav-link:hover {
    background-color: darkslategrey;
}

.plus-sign {
    margin-left: 1vw;
}

a, a:visited {
    color: white;
    text-decoration: none;
}

button {
    font-family: 'Bebas Neue', cursive;
}

