{% extends 'base.html' %}
{% block content %}
    <h3>Create Class</h3>
    <form action="/upcoming" method="POST">
        <label for="date">Date:</label><br>
        <input type="date" name="date" id="date"><br>
        <label for="time">Time:</label><br>
        <input type="time" name="time" id="time"><br>
        <label for="description">Description:</label><br>
        <input type="text" name="description" id="description"><br>
        <label for="duration">Duration (in minutes):</label><br>
        <input type="number" name="duration" id="duration"><br>
        <label for="capacity">Capacity:</label><br>
        <input type="number" name="capacity" id="capacity"><br><br>
        <button type="submit">Create Class</button>
    </form>
{% endblock content %}