{% extends 'base.html' %}
{% block content %}
    <div class="lesson">
        <div class="nav-link">
            <p>Date:</p> <p>{{ lesson.date }}</p>
        </div>
        <div class="nav-link">
            <p>Time:</p> <p>{{ lesson.time }}</p>
        </div>
        <div class="nav-link">
            <p>Description:</p> <p>{{ lesson.description }}</p>
        </div>
        <div class="nav-link">
            <p>Duration:</p> <p>{{ lesson.duration }} minutes</p>
        </div>
        <div class="nav-link">
            <p>Capacity:</p> <p>{{ lesson.capacity }}</p>
        </div>
        <p>Members Booked:</p>
        {% for member in members %}
        <div class="nav-link">
            <a href="/members/show/{{ member.id }}">{{ member.last }}, {{ member.first }}</a>
            <a href="/lessons/cancel_booking/{{ member.id }}/{{ lesson.id }}"><button class="delete">Cancel Booking</button></a>
        </div>
        {% endfor %}<br>
        <a href="/lessons/edit/{{ lesson.id }}"><button class="submit">Edit Class</button></a>
    </div>
{% endblock content %}