<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
    </style>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
</head>
<body>
    <div class="header">
        <div class='nav-link'>
            <a href="/"><i class="fas fa-dumbbell"></i></a>
        </div>
        <a href="/members">
            <div class='nav-link'>
                Members
                <div class='plus-sign'>
                    <a href="/members/new"><button class="new">&#43;</button></a>
                </div>
            </div>
        </a>
        <div class='nav-link'>
            <a href="/upcoming">Classes</a>
            <div class='plus-sign'>
                <a href="/lessons/new"><button class="new">&#43;</button></a>
            </div>
        </div>
        <div class='nav-link'>
            <a href="/bookings">Bookings</a>
            <div class='plus-sign'>
                <a href="/bookings/new"><button class="new">&#43;</button></a>
            </div>
        </div>
</div>
    <div class="container">
    {% block content %}
        
    {% endblock content %}
    </div>
</body>
</html>